* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-1: #fedc3d;
  --color-2: #000000;
  --color-3: #01abaa;
  --color-4: #fea680;
  --color-5: #f8fddc;
  --sans-font: "Open Sans", sans-serif;
  --serif-font: "Libre Caslon Display", serif;
}

body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

.configuration {
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  font-family: var(--sans-font);
}

.configuration h2 {
  margin-bottom: 10px;
}

.form-section {
  border-radius: 8px;
  margin-bottom: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  background-color: var(--color-1);
}

.info-form {
  padding-right: 20px;
}

label {
  color: var(--color-2);
}

input[type="text"] {
  display: block;
  width: 100%;
  padding: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 16px;
  border: 1px solid var(--color-5);
  border-radius: 8px;
  background-color: var(--color-5);
  font-family: var(--sans-font);
}

input[type="text"]:focus {
  outline: 2px solid var(--color-3);
}

textarea {
  resize: vertical;
  display: block;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 8px;
  border: 1px solid var(--color-5);
  border-radius: 8px;
  background-color: var(--color-5);
  font-size: 16px;
  font-family: var(--sans-font);
}

textarea:focus {
  outline: 2px solid var(--color-3);
}

.resume-area {
  padding-top: 30px;
  /*background-color: var(--color-5);*/
  display: flex;
  justify-content: center;
}

.resume {
  width: 795px;
  height: 1120px;
  border: 1px solid black;
  justify-self: end;
  background-color: white;
  box-shadow: 5px 10px 10px var(--color-3);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.resume-contact {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  background-color: var(--color-4);
  margin-bottom: 30px;
}

.resume-contact h2 {
  font-family: var(--serif-font);
  font-size: 30px;
  font-weight: 900;
}

.resume-education,
.resume-experience {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}

.resume-experience h2,
.resume-education h2 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 3px;
  color: var(--color-4);
  border-bottom: 2px solid black;
  font-family: var(--serif-font);
}

.position-container,
.degree-container {
  display: flex;
  justify-content: space-between;
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 10px;
}

.resume-experience > div:not(:last-child),
.resume-education > div:not(:last-child) {
  margin-bottom: 30px;
}

.form-btns {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

button {
  padding: 8px;
  background-color: var(--color-3);
  opacity: 0.7;
  color: white;
  border: none;
  border-radius: 5px;
  transition: 0.2s;
}

.btn-edit {
  background-color: var(--color-5);
  border: 1px solid var(--color-3);
  color: var(--color-3);
}

.btn-delete {
  background-color: var(--color-4);
}

button:hover,
button:active {
  opacity: 1;
  cursor: pointer;
}

.btn-edit:hover,
.btn-edit:active {
  background-color: var(--color-1);
}

.collapsed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  /*border: 2px solid var(--color-4); */
  background-color: var(--color-5);
  border-radius: 8px;
  margin-right: 20px;
  padding: 5px;
}

.uncollapsed {
  border: 2px solid var(--color-5);
  border-radius: 8px;
  margin-right: 20px;
  margin-bottom: 5px;
  padding: 20px 10px 20px 10px;
}
